* {margin:0;padding:0;} 
html, body {
	height: 100%;
	background-color:#f1f1f1;
	font-family: "Proxima Nova Regular","Calibri","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:100%;
	line-height:1.3;
}
:root html, body { line-height:1 \0/IE9; }  /* IE9 */


#wrap {
	min-height: 100%;
}
#main {
	overflow:hidden;
	padding-bottom: 50px;
	margin: 0 210px;
}
#lang{
	/*
	position:fixed;
	right:100px;
	color:#13a3ab;
	font-size:80%;*/
	bottom:180px;
	font-size:80%;
	text-align:right;
	color:#13a3ab;
	font-size:80%;
}
.content{
	bottom:180px;
	font-size:80%;
	max-width:100%;
}
.content2{
	bottom:180px;
	font-size:80%;
	max-width:100%;
}
#login{
	float:left;
	padding:270px 2px 0 2px;
	width:35%;
	min-width:100px;
	margin:0 auto;
}
#signup{
	float:right;
	padding-top:270px;
	width:63%;
	margin:0 auto;
}
#login_form{
	float:left;
	padding-top:270px;
	width:45%;
	min-width:100px;
}
#signup_form{
	float:right;
	padding-top:270px;
	width:45%;
	min-width:100px;
}
#warning{
	clear:both;
	padding-top:20px;
	font-size:80%;
	color:#9b9b9b;
	max-width:100%;	
}
#info{
	clear:both;
	padding-top:20px;
}


.icon-ph {
display: inline-block;
width: auto;
height: auto;
min-width: 16px;
padding-top:3px;
font-size: 14px;
font-weight: normal;
line-height: 20px;
text-align: center;
text-shadow: 0 1px 0 #ffffff;
background-color: #cce7ea;
position:absolute;
left:3px;
top:3px;
bottom:3px;
z-index:3;
color:#999999;
}
.custom-text {
background-color:#cce7ea;
margin-bottom:5px;
border:1px solid #dedede;
border-radius:5px;
height:20px;
width:90%;
padding:3px 0 3px 30px;
}
.input-container {
position:relative;
}



.label_login{
	color:#000000;
	padding-bottom:2px;
	font-size:90%;
}
.input_login{
	background-color:#cce7ea;
	margin-bottom:5px;
	border:1px solid #dedede;
	border-radius:5px;
	height:20px;
	width:100%;
}
.input_select_login{
	background-color:#cce7ea;
	margin-bottom:5px;
	border:1px solid #dedede;
	border-radius:5px;
	height:24px;
	width:100%;
}
.button_login{
	border:none;
	background-color:#f1f1f1;
	color:#13a3ab;
	font-weight:bold;
	text-decoration:none;
}
input, label, article {
    display:block;
}
input:focus, select:focus, textarea:focus {
	border:1px solid #dedede;
  -webkit-box-shadow:0 0 6px #007eff;
  -moz-box-shadow:0 0 5px #007eff;
  box-shadow:0 0 5px #007eff;
  outline: none;
}
input.error, select.error, textarea.error{
	background-color:#f9bdbd;
}
input.error:focus, select.error:focus, textarea.error:focus {
	border:1px solid #dedede;
  -webkit-box-shadow:0 0 6px #f9bdbd;
  -moz-box-shadow:0 0 5px #f9bdbd;
  box-shadow:0 0 5px #f9bdbd;
  outline: none;
}
span.error{
	padding-left:10px;
	color:red
	}
input.warn, select.warn, textarea.warn{
	background-color:#f9bdbd;
}
input.warn:focus, select.warn:focus, textarea.warn:focus {
	border:1px solid #dedede;
  -webkit-box-shadow:0 0 6px #fff0a8;
  -moz-box-shadow:0 0 5px #fff0a8;
  box-shadow:0 0 5px #fff0a8;
  outline: none;
}
input.valid, select.valid, textarea.valid{
	background-color:#c8fc8d;
}
input.valid:focus, select.valid:focus, textarea.valid:focus {
	border:1px solid #dedede;
  -webkit-box-shadow:0 0 6px #c8fc8d;
  -moz-box-shadow:0 0 5px #c8fc8d;
  box-shadow:0 0 5px #c8fc8d;
  outline: none;
}
.accept{
	font-style:italic
}
.watermark{
	position: absolute; 
	display: block; 
	color: rgb(153, 153, 153); 
	left: 7px; 
	line-height: 20px; 
	text-align: left;
}

#header {
	background-color:#fdfdfd;
	min-height:15%;
	padding:0.5% 1% 0.5% 1%;
}
#header_img{
	position:absolute;
	background-image:url('logo.png');
	background-repeat:no-repeat;
	left:10px;
	top:10px;
	width:200px;
	height:350px;
	z-index:0;
}
[id*=welcome]{
	margin-left:160px;
	margin-top:100px;
}

#footer {
	position: relative;
	background-color:#3eb3e0;
	margin-top: -52px; /* negative value of footer height */
	height: 50px;
	clear:both;
	border:1px solid #13a3ab;
	border-radius:5px 5px 0 0;
	overflow:hidden;
}
.footer{
	margin: 0 210px;
	font-size:80%;
	max-width:80%;
}
#nav {
	width: 100%;
	float: left;
	list-style: none; 
}
#nav li {
	float: left; 
	padding-right:3%;
}
.footer_link{
	color:#f1f1f1;
	font-size:80%;
}

#legal{
	color:#f1f1f1;
	font-size:60%;
	margin:0 auto;
	width:100%;
	line-height:1;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

*/

.button{
background-color: #13a3ab;
border:none;
padding: 5px 10px 6px;
color:#f1f1f1;
border-radius:5px;
font-weight: bold;
display: inline-block;
cursor: pointer;
font-size: 90%;
text-decoration: none;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
}

.button:active{
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.blue{
color: #13a3ab;
}
.bold{
	font-weight:bold;
}
a.langlink{
	text-decoration:none;
	color:#13a3ab;
}


/*HEADER_LOGGED*/

#header_nav{
	padding:0 0 0 200px;
	bottom:180px;
	font-size:80%;
	color:#13a3ab;
	font-size:80%;
	overflow:hidden;
	background:rgba(19,163,171,0.1);
	box-shadow: 0 1px 5px rgba(0, 0,0, 0.25);
	border-radius: 0 0 5px 5px;
	/*
	background-image:url('pg_logo.png');
	background-repeat:no-repeat;
	background-size:15%;
	background-position:center center;
	*/
	
}
a.main_nav{
	font-size:110%;
	color:#000000;
}
a.main_nav:visited{
	color:#000000;
}
a.main_nav:hover{
	text-decoration:none;
	color:#13a3ab;
}
#sub_nav {
	width: 100%;
	float: left;
	list-style: none;
	padding-top:7px;
}
#sub_nav li {
	float: left;
	padding-right:15px;
}
.sub_nav{
	text-decoration:none;
	color:#13a3ab;
}
.sub_nav:visited{
	text-decoration:none;
	color:#13a3ab;
}
.main_nav_circle{
	width:100px;
	height:auto;
}
.main_nav_circle_wrap{
	padding:0 3% 15px 0;
	text-decoration:none;
	color:#13a3ab;
}
.main_nav_circle_wrap:hover{
	text-decoration:none;
	color:#13a3ab;
}
.main_nav_circle_wrap:visited{
	text-decoration:none;
	color:#13a3ab;
}

iframe {display:none !important;}


/* FAQs
----------------------------------------------------------*/
.faqSection
{
	width: 100%;
	margin-bottom: 20px;
	cursor: pointer;
}

.faqSectionContent
{
	display: none;
	margin-left: 140px;
	margin-top: -20px;
}

.faqSectionLogo
{
	height: 129px;
	width: 130px;
	background: transparent url('icon-faq.png') no-repeat 0 0;
	float: left;
	z-index: 10;
	position: relative;
}

.faqSection:hover .faqSectionLogo
{
	background-position: 0 -129px;	
}

.faqSectionTitle
{
	margin: 40px 0 39px -20px;
	background-color: #13a5a9;
	height: 50px;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	float: left;
	width: 60%;
	padding-left: 20px;
	z-index: 0;
}

.faqSection:hover .faqSectionTitle
{
	background-color: #006871;
}

.faqSectionTitle p
{
	color: white;
	font-size: 24px;
	margin-left: 10px;
	padding-top: 15px;
}

.faqQuestionText
{
	font-weight: bold;
}

.faqAnswerText
{
}
.clearBoth
{
	clear: both;
}
/** End FAQS **/

/**
	SalesForce error
**/
.errorM3 .msgIcon,.errorM4 .msgIcon, .errorSmall {
    background-image: url(/img/samples/flag_red.gif) !important;
}
.messageCell{
	color:#cc0000;
}
.messageCell div span{
	display:none;
}

.myCustomMessage .message {
    background: none  !important;
    border: none !important;
}

#errorbox{
	position:absolute;
	/*border:1px solid black;*/
	border-radius:5px;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	z-index:100;
	background-color:#ffffff;
	background-color:rgba(255,255,255,0.9);
}

/*Validation*/

		
		/**/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	#welcome{
		margin-left:160px;
		margin-top:35px;
		width:343px;
		height:130px;
	}
	#login, #signup, #login_form, #signup_form{
		padding-top:160px;
	}
	#main{
		margin: 0 80px 0 200px;
	}
}