html, body {
    margin: 0;
    padding: 0;
    height: 100%;
	font-family: "Proxima Nova Regular","Calibri","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:100%;
	line-height:1.3;
}

#wrapper {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative; /* Required to absolutely position the footer */
	/*background-color:rgba(241,241,241,0.9);*/
	margin:0 10%;
	/*box-shadow: 6px 0px 10px -7px #888, -6px 0px 10px -7px #888;*/
}

#footer {
    height: 50px; /* Define height of the footer */
    position: absolute;
    bottom: 0; /* Sit it on the bottom */
    left: 0;
    width: 100%; /* As wide as it's allowed */
	/*background-color:#3eb3e0;*/
}

#content {
	padding-left:2%;
	padding-right:2%;
    padding-bottom: 50px; /* This should match the height of the footer */
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}





#lang{
	bottom:180px;
	font-size:80%;
	text-align:right;
	color:#13a3ab;
	font-size:80%;
}
.content{
	font-size:80%;
	width:800px;
	height:auto;
	margin:0 auto;
	position:absolute;
	top:50%;
	margin-top:-125px;
	left:50%;
	margin-left:-400px;
	background-color:rgba(241,241,241,0.9);
	box-shadow: 0 0 10px #888;
	padding:15px;
	border-radius:5px;
}
.content2{
	display:none;
	font-size:80%;
	width:800px;
	height:auto;
	margin:0 auto;
	position:absolute;
	top:50%;
	margin-top:-250px;
	left:50%;
	margin-left:-400px;
	background-color:rgba(241,241,241,0.9);
	box-shadow: 0 0 10px #888;
	padding:15px;
	border-radius:5px;
}
#login{
	float:left;
	width:49%;
	margin:0 auto;
}
#signup{
	float:right;
	width:49%;
	margin:0 auto;
}
#login_form{
	float:left;
	width:45%;
	min-width:100px;
}
#signup_form{
	float:right;
	width:45%;
	min-width:100px;
}
#warning{
	clear:both;
	padding-top:20px;
	font-size:80%;
	color:#9b9b9b;
	max-width:100%;	
}
#info{
	clear:both;
	padding-top:20px;
}
.icon-ph {
display: inline-block;
width: auto;
height: auto;
min-width: 16px;
padding-top:3px;
font-size: 14px;
font-weight: normal;
line-height: 20px;
text-align: center;
text-shadow: 0 1px 0 #ffffff;
background-color: #cce7ea;
position:absolute;
left:3px;
top:3px;
bottom:3px;
z-index:3;
color:#999999;
}
.custom-text {
background-color:#cce7ea;
margin-bottom:5px;
border:1px solid #dedede;
border-radius:5px;
height:20px;
width:90%;
padding:3px 0 3px 30px;
}
.input-container {
position:relative;
}
.label_login{
	color:#000000;
	padding-bottom:2px;
	font-size:90%;
}
.input_login{
	background-color:#cce7ea;
	margin-bottom:5px;
	border:1px solid #dedede;
	border-radius:5px;
	height:20px;
	width:100%;
}
.input_select_login{
	background-color:#cce7ea;
	margin-bottom:5px;
	border:1px solid #dedede;
	border-radius:5px;
	height:24px;
	width:100%;
}
.button_login{
	border:none;
	background-color:#f1f1f1;
	color:#13a3ab;
	font-weight:bold;
	text-decoration:none;
}
input, label, article {
    display:block;
}
input:focus, select:focus, textarea:focus {
	border:1px solid #dedede;
  -webkit-box-shadow:0 0 6px #007eff;
  -moz-box-shadow:0 0 5px #007eff;
  box-shadow:0 0 5px #007eff;
  outline: none;
}
input.error, select.error, textarea.error{
	background-color:#f9bdbd;
}
input.error:focus, select.error:focus, textarea.error:focus {
	border:1px solid #dedede;
  -webkit-box-shadow:0 0 6px #f9bdbd;
  -moz-box-shadow:0 0 5px #f9bdbd;
  box-shadow:0 0 5px #f9bdbd;
  outline: none;
}
input.warn, select.warn, textarea.warn{
	background-color:#fff0a8;
}
input.warn:focus, select.warn:focus, textarea.warn:focus {
	border:1px solid #dedede;
  -webkit-box-shadow:0 0 6px #fff0a8;
  -moz-box-shadow:0 0 5px #fff0a8;
  box-shadow:0 0 5px #fff0a8;
  outline: none;
}
input.valid, select.valid, textarea.valid{
	background-color:#c8fc8d;
}
input.valid:focus, select.valid:focus, textarea.valid:focus {
	border:1px solid #dedede;
  -webkit-box-shadow:0 0 6px #c8fc8d;
  -moz-box-shadow:0 0 5px #c8fc8d;
  box-shadow:0 0 5px #c8fc8d;
  outline: none;
}
#nav {
	width: 100%;
	float: left;
	list-style: none; 
}
#nav li {
	float: left; 
	padding-right:3%;
}
.footer_link{
	color:#f1f1f1;
	font-size:80%;
}

#legal{
	color:#f1f1f1;
	font-size:60%;
	margin:0 auto;
	width:40%;
	line-height:1;
}
.button{
background-color: #13a3ab;
border:none;
padding: 5px 10px 6px;
color:#f1f1f1;
border-radius:5px;
font-weight: bold;
display: inline-block;
cursor: pointer;
font-size: 90%;
text-decoration: none;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
}

.button:active{
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.blue{
color: #13a3ab;
}
.bold{
	font-weight:bold;
}
a.langlink{
	text-decoration:none;
	color:#13a3ab;
}
/*HEADER_LOGGED*/

#header_nav{
	padding:0 0 0 200px;
	bottom:180px;
	font-size:80%;
	color:#13a3ab;
	font-size:80%;
	overflow:hidden;
	background:rgba(19,163,171,0.1);
	box-shadow: 0 1px 5px rgba(0, 0,0, 0.25);
	border-radius: 0 0 5px 5px;
	/*
	background-image:url('pg_logo.png');
	background-repeat:no-repeat;
	background-size:15%;
	background-position:center center;
	*/
	
}
a.main_nav{
	font-size:110%;
	color:#000000;
}
a.main_nav:visited{
	color:#000000;
}
a.main_nav:hover{
	text-decoration:none;
	color:#13a3ab;
}
#sub_nav {
	width: 100%;
	float: left;
	list-style: none;
	padding-top:7px;
}
#sub_nav li {
	float: left;
	padding-right:15px;
}
.sub_nav{
	text-decoration:none;
	color:#13a3ab;
}
.sub_nav:visited{
	text-decoration:none;
	color:#13a3ab;
}
.main_nav_circle{
	width:100px;
	height:auto;
}
.main_nav_circle_wrap{
	padding:0 3% 15px 0;
	text-decoration:none;
	color:#13a3ab;
}
.main_nav_circle_wrap:hover{
	text-decoration:none;
	color:#13a3ab;
}
.main_nav_circle_wrap:visited{
	text-decoration:none;
	color:#13a3ab;
}

iframe {display:none !important;}