@import url(http://fonts.googleapis.com/css?family=Titillium+Web:200);
* {margin:0;padding:0;} 
html, body {
	height: 100%;
	background-color:#f1f1f1;
	font-family: "Proxima Nova Regular","Calibri","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:100%;
	line-height:1;
}
body a{
	text-decoration: none;
	
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.wrapper{
	position:relative;
	width:100%;
	height:100%;
	min-height:100%;
	background:#444;
}
.main{
	margin: 0 5% 0 5%;
	height:100%;
	min-height:100%;
	box-shadow: 6px 0px 10px -7px #000, -6px 0px 10px -7px #000;
}
.center{
	margin:0 auto;
	height:100%;
	min-height:100%;
}
#header{
	position:relative;
	float:left;
	background:#000;
	height:100%;
	min-height:100%;
	width:20%;
}
#content{
	position:relative;
	float:left;
	background:#f5f5f5;
	height:100%;
	min-height:100%;
	width:80%;
	overflow:auto;
}
#logo{
	display: inline-block;
	padding-top: 15%;
	padding-left:25px;
}
.logo{
	width:80%;
	height:auto;
}

#logo:hover{ opacity: 0.8;}

#nav{
	text-align:left;
	list-style:none;
	padding-top:30px;
}
#nav li{
	padding-left:25px;
	margin-top:15px;
}
#nav>li>a{
	font-family: 'Titillium Web', sans-serif;
    font-weight:100;
	font-size:110%;
	color:#f1f1f1;
}
#nav2>li>a{
	font-family: 'Titillium Web', sans-serif;
    font-weight:100;
	font-size:100%;
	color:#999999;
}
#nav>li>a:hover,#nav2>li>a:hover,
.project-heading .launch:hover{
	color: #3eb3e0;
}
#nav a,#nav2 a{ color: #E2E0D7; }

#nav>li.current-menu-item>a,
#nav>li.current_page_item>a,
#nav2>li.current-menu-item>a,
#nav2>li.current_page_item>a{
	color: #E2E0D7;
}
#nav>li.current-menu-item,
#nav>li.current_page_item,
#nav2>li.current-menu-item,
#nav2>li.current_page_item{
	border-right: solid #ebebe8 3px;
}

#nav2 {
	width: 100%;
	list-style: none;
	margin-left: 25px;
	margin-top: 50px;
}
#nav2 li {
	margin-bottom:25px;
}
#nav3{
	list-style:none;
	margin-left:10px;
}
#nav3 li{
	float:left;
	padding-right:5px;
}
#nav3 li a{
	color:#E2E0D7;
	text-decoration:underline;
	font-size:80%;
}
#nav3 li a:visited{
	color:#E2E0D7;
}
#nav3 li a{
	color:#E2E0D7;
}
#footer{
	position:absolute;
	bottom:2px;
	width:100%;
	text-align:center;
}
.headline{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	background: url(div-line.png) repeat-x center center;
}

.headline span{
	padding: 0px 20px;
	background:#f5f5f5;
	font-family: 'Titillium Web', sans-serif;
	font-size:120%;
	font-weight:bold;
}
.newsitem{
	display: block;
	width: 100%;
	height: 100%;
	background:#444;
	color:#f1f1f1;
	-webkit-transition: background-color 0.2s linear;
     -moz-transition: background-color 0.2s linear;
     -o-transition: background-color 0.2s linear;
     -ms-transition: background-color 0.2s linear;
     transition: background-color 0.2s linear;
}
.newsitem:hover{
	background:#3eb3e0;
	-webkit-transition: background-color 0.2s linear;
     -moz-transition: background-color 0.2s linear;
     -o-transition: background-color 0.2s linear;
     -ms-transition: background-color 0.2s linear;
     transition: background-color 0.2s linear;
}
.newsitem:visted{
	color:#f1f1f1;
}
.newscontent{
	padding:15px;
	font-family: 'Titillium Web', sans-serif;
}
.newscontent>h1{
	font-size:120%;
	text-transform:uppercase;
}
.newscontent>p{
	padding-top:20px;
	font-size:100%;
	font-weight:100;
}
.contentcenter{
	margin:0 auto;
	text-align:center;
	width:80%;
}


