* {margin:0;padding:0;} 
html, body {
	height: 100%;
	background-color:#f1f1f1;
	font-family: "Proxima Nova Regular","Calibri","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:100%;
	line-height:1;
	background-image:url('bg2.jpg');
	background-size:cover;
}
body a{
	text-decoration: none;
	
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
#topNavBar{
	text-align:right;
	background:#f1f1f1;
}
#header{
	background: #444 url(header.png) bottom left repeat-x;
}
.clearfix{ clear:both; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


.wrapper{
	margin: 0 auto; 
	position: relative;
	width:80%;
}

#logo{
	display: inline-block;
	padding-top:10px;
}
.logo{
	width:200px;
	height:auto;
}

#logo:hover{ opacity: 0.8;}

#nav,#topnav{
	list-style:none;
}
#nav li{
	float:left;
	margin-right: 20px;
}
#topnav li{
	float:right;
	margin-left: 10px;
}
#nav>li>a{
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size:95%;
	font-weight: 300;
	display: block;
	overflow: hidden;
	padding: 0px 0px 7px 0px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
}
#nav>li>a:hover,
.project-heading .launch:hover{
	color: #3eb3e0;
}
#nav a{ color: #E2E0D7; }

#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{
	color: #E2E0D7;
}
#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{
	border-bottom: solid #ebebe8 5px;
}
#topnav>li>a{
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size:80%;
	font-weight: 300;
	display: block;
	overflow: hidden;
	padding: 0px 0px 7px 0px;
	/*text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);*/
	color:#444;
	text-decoration:underline;
}
#main{
	padding-top: 8px;
	background: url(oblique-lines.png) repeat-x;
	margin-bottom: 60px;
}
.main{
	background:rgba(99,99,99,0.2);
		height:100%;
	min-height:100%;
	box-shadow: 6px 0px 10px -7px #888, -6px 0px 10px -7px #888;
}

